/bootstrap/compiled.php
.idea/
.env.*.php
.env.php
/public/storage
/public/uploads
/public/download
/public/admin
/storage/*.key
/storage/debugbar
/storage
/temp
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
updates/
composer.lock
*.lock
resources/lang/en.json
updates.zip
ecommerce.zip
install.zip
/nbproject/private/
/nbproject
/public/app-translations
public/uploads.zip

